<meta charset="utf-8" emacsmode="-*- markdown -*-" />
<title>KageKirin blog</title>
<link rel="stylesheet" href="markdeep.css" />
<link rel="alternate" type="application/rss+xml" href="index.rss" />
<link rel="alternate" type="application/atom+xml" href="atom.xml" />
